html, body {
    height: 90%;
}

body {
    background: green;
}

.table {
    height: 100%;
    width: 100%;

    display:grid;
    place-items:center;
    grid-template-rows: 1fr 5fr 1fr;
    grid-template-columns: 1fr 5fr 1fr;
}

.table-top {
    min-width: 3.5rem;
    padding: .5rem;
    aspect-ratio: 1/2;
    background:white;
    grid-row: 2/3;
    grid-column: 2/3;
}

.held-cards{
    width:1rem;
    aspect-ratio: 1/1;
    grid-column: 2/3;
    grid-row: 3/4;
    position:relative;
}

.card {
    transition: border .1s linear;
    position:absolute;
    border: .5px solid black;
    min-width: 3.5rem;
    padding: .5rem;
    aspect-ratio: 1/2;
    background:white;
}

.card:nth-child(1) {
    transform: rotate(-60deg);
    transform-origin: bottom;   
}

.card:nth-child(2) {
    transform: rotate(-30deg);
    transform-origin: bottom;   
}

.card:nth-child(3) {
    transform: rotate(0deg);
    transform-origin: bottom;   
}

.card:nth-child(4) {
    transform: rotate(30deg);
    transform-origin: bottom;   
}

.card:nth-child(5) {
    transform: rotate(60deg);
    transform-origin: bottom;   
}

.card:hover {
    border: 2px solid lime;
    z-index: 10;
}